.Layout{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #252526;
  color: #e9e9e9;
  font-size: 24px;
  font-family: "Helvetica Neue", serif;
}

.Layout.main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
